body {
    margin: 0;
    background: lightgreen;
 }
 
 .contacts{
     display: flex;
     flex-wrap: wrap;
 }
 
 .contact-card{
     flex-basis: 250px;
     margin: 20px;
     background: lightblue;
     padding: 8px;
     border-radius: 20px
 }
 
 .contact-card > img{
     width: 100%;
     height: auto;
 }
 
 .contact-card > h3 {
     text-align: left;
 }
 
  .contact-card > h2 {
     text-align: left;
 }
 
 .contact-card > p {
       font-size: 12px;
 }