body {
    background-color: orange;
  }
  .App {
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 100px;
    margin-top: 40px;
  
    background-color: lemonchiffon;
    border-radius: 50px;
    max-width: 500px;
  }
  
  .App h1 {
    color: hotpink;
  }
  
  .App button {
    font-size: 40px;
    background-color: antiquewhite;
  }
  
  .App button:hover{
    color: palevioletred;
  }